<%
  boards = User.current.projects.collect{|proj| proj.boards.collect{|board| board.id}.join(",") }.join(",")
  @messages = Message.find( :all, 
                            :include => [:board, :author],
                            :conditions => ["created_on >= ? and board_id in (?)",1.week.ago, boards], 
                            :order => 'updated_on DESC')
%>
<% if @messages and @messages.count > 0 %>
<h3>Messages Posted in the Last Week</h3>
<table class="list messages">		
	<thead>
	  <tr>
	    <th>Updated At</th>
		  <th>Project</th>
  		<th>Subject</th>
  		<th>Author</th>
		</tr>
	</thead>
	<tbody>	
		<% @messages.each do |msg| %>
		<tr id="message-<%=msg.id%>" class="<%= cycle('odd', 'even') %>">
		  <td class="updated-at">
		    <%= format_date(msg.updated_on)%>
	    </td>
			<td class="project">
			  <%= link_to msg.project.name, :controller => 'project', :action => 'show', :id => msg.project.id %>
			</td>
			<td class="subject"><%= link_to msg.subject, "/boards/#{msg.board.id}/topics/#{msg.id}" %></td>
			<td class="author"><%= msg.author.name %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'my_widgets', :plugin => 'redmine_my_widgets' %>
<% end %>